.form-product__label {
  display: block;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6e6893;
  margin-bottom: 5px;
}

.form-product__input {
  display: block;
  width: 100%;
  background: #f4f2ff;
  border-radius: 6px;
  border: none;
  padding: 11px;
  line-height: 1.125;
  resize: none;
}

.form-product__input:disabled {
  background: #eeeeee;
}

.form-product__input:not(:last-child) {
  margin-bottom: 12px;
}