.form {
  max-width: 580px;
  margin: 0 auto;
}

.form__fieldset {
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 28px;
  border: none;
  margin-bottom: 32px;
}

.form__group {
  position: relative;
  margin-bottom: 12px;
  padding-left: 50px;
}

.form__checkbox-field {
  display: block;
  max-width: 100%;
  width: 100%;
  background: #eeeeee;
  border-radius: 6px;
  padding: 11px;
  outline: none;
  border: none;
}

.form__checkbox-input:checked ~ .form__checkbox-field {
  background: #f4f2ff;
}

.form__submit-container {
  padding: 0 28px;
  text-align: right;
}

.form__submit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
  background: #6d5bd0;
  border-radius: 6px;
}